header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEEB;
    color: #fff;
    padding: 5px;
    text-align: left;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-image {
    margin-left: auto;
    padding: 5px;
}

.profile-image img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
