/* Init.css */



.image-container {
  position: relative;
  left: 20%; /* 초기 위치 설정 */
  transition: left 2s; /* left 속성을 2초 동안 변화시킴 */
}

.animate {
  left: 0%; /* 원하는 위치로 이동 */
}

.logoimage  {
    height: 526px;

}
.loginpage {
  background: none!important;
}

.move-message {
  text-align: center; /* 가운데 정렬 설정 */
  margin-right: 10px; /* 오른쪽으로 10px 이동, 필요에 따라 조절 가능 */
}

.initpage {
    display: flex;
    margin-left : 25%
    /* justify-content: center; */
    
}

.transition-fade {
  opacity: 0;
  transition: opacity 1s ease; /* 트랜지션을 적용합니다. */
}

.transition-fade.active {
  opacity: 1;
}
